<main>

  <h2>Create New Character</h2>
  <form (ngSubmit)="create(_characterFormGroup)" [formGroup]="_characterFormGroup">
    <blockquote>Character Name: <input formControlName="name" type="text"></blockquote>
    <blockquote>Character Description: <input formControlName="description" type="text"></blockquote>
    <blockquote>Character Gender: <input formControlName="gender" type="text"></blockquote>
    <blockquote>Character Age: <input formControlName="age" type="number"></blockquote>
    <blockquote>Character Height (inches): <input formControlName="height" type="number"></blockquote>
    <blockquote>Character Weight (pounds): <input formControlName="weight" type="number"></blockquote>
    <a><input type="submit" value="Submit"></a>
  </form>

  <h2>Game Stored Characters</h2>
  <div class="characters-menu">
    <a *ngFor="let character of batchGet()">
      <p>{{ character.name }}</p>
    </a>
  </div>


</main>
